<div class="travel-pace-mount-config">
	{{!-- Instructions --}}
	<p>{{localize "TravelPace.Settings.MountConfig.Instructions"}}</p>

	{{!-- Mount Selection Widget --}}
	{{formField fields.mounts value=document.mounts rootId=partId widget=mountsWidget placeholder=(localize "TravelPace.Settings.MountConfig.SelectMounts")}}

	{{!-- No Mounts Warning --}}
	{{#unless actors.length}}
		<hr />
		<div class="notification error">
			<p>{{localize "TravelPace.Settings.MountConfig.NoMounts"}}</p>
			<p>{{localize "TravelPace.Settings.MountConfig.AddMountsHint"}}</p>
		</div>
	{{/unless}}
</div>
