<div class="travel-pace-chat">
  <h2 class="travel-pace-type">{{marchType}}</h2>
  <p class="travel-pace-narrative">{{dialogNarrative}}</p>

  <h3>{{localize "TravelPace.chat.totalTime"}}</h3>
  <p class="travel-pace-total"><strong>{{marchTotal}}</strong></p>

  {{#if marchEffect}}
  <div class="travel-pace-effect">
    <p>{{marchEffect}}</p>
  </div>
  {{/if}} {{#if showForcedMarch}}
  <hr />
  <div class="travel-pace-forced">
    <h3>{{localize "TravelPace.forcedMarch.title"}}</h3>
    <p>{{localize "TravelPace.forcedMarch.description"}}</p>
    <p>{{localize "TravelPace.forcedMarch.rules"}}</p>
  </div>
  {{/if}}
</div>
